.App{
  margin: 0;
  padding:0;
  flex-direction: column; 

}

.searchForm{
  display: flex;
  justify-content: center;
}

.ingredients{ 
text-align: center;
}

.cuisine{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}